# Private directories
examples
images

# dependencies (bun install)
node_modules

# dotenv environment variable files
.env
docker-compose.yaml
init.sql

# caches
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# misc
test.ts
src/out